.skills-section {
  min-height: 100vh;
  padding: 50px 20px;
  text-align: center;
  margin: 0 auto;
}

.skills-title {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.category-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.category-tab {
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.category-tab.active {
  background: #7c3aed;
  color: white;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center; 
  justify-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.skill-card:hover {
  transform: translateY(-6px);
}

.skill-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
   background-color: #000;
}

.skill-icon img {
  height: 60%;
  width: 60%;
  object-fit: contain;
}

.skill-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablets - 3 per row */
@media (max-width: 1024px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile - 2 per row */
@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skill-icon {
    height: 80px;
    width: 80px;
  }

  .skill-name {
    font-size: 14px;
  }
}

.skills-grid:has(.skill-card:only-child),
.skills-grid:has(.skill-card:nth-child(2):last-child),
.skills-grid:has(.skill-card:nth-child(3):last-child) {
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  justify-content: center;
}
